html
    head
        title
        style
        script(src='./a.js')
    body
        div.box&attributes({title:"ms",id:"asd"}) dashabi
            ul(style={width:'100px'},class=['aaaa','sssss','fund'])
                li
                    p
                li
                    p
                li
                    div
        div#box