<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
        用户：<input type="text" name="username"><br/>
        密码：<input type="password" name="password"><br/>
        <input type="button" value="提交" id="submit">
</body>
<%include ../script.ejs%>
<script src="../js/login.js"></script>
</html>